<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tickets Support</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Liste des Tickets</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <table>
        <tr>
            <th>ID</th> 
            <th>Object</th>
            <th>Description</th>
            <th>Email</th>
            <th>Pièce jointe</th>
            <th>Date de crétaion</th>
            <th>Status</th>
            <th>Reponse</th>
            <th>Action</th>
        </tr>
        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket[0] }}</td>
            <td>{{ ticket[1] }}</td>
            <td>{{ ticket[2] }}</td>
            <td>{{ ticket[3] }}</td>
            <td>
                {% if ticket[5] %}
                    <a href="{{ ticket[5] }}" target="_blank">
                        <img src="{{  ticket [5] }}" width="100">
                    </a>
                {% else %}
                    Aucune
                {% endif %}
            </td>
            <td>
                {% if ticket[6] %}
                    {{ ticket[6].strftime('%d/%m/%Y %H:%M') }}
                {% else %}
                    Inconnue
                {% endif %}
            </td>
            <td>{{ ticket[4] }}</td>
            <td>
                <textarea name="Réponse" id="answer" placeholder="Veuillez entrez votre réponse ici"></textarea>
                <button id="answer_button">Envoyer</button>
            </td>
            <td>
                <form method="POST" action="{{ url_for('delete_ticket', ticket_id=ticket[0]) }}"  onsubmit="return confirm('Supprimer ce ticket ?')">
                    <button type="submit">Supprimer</button>
                </form>
                {% if ticket[4] != 'fini' %}
                    <form method="POST" action="{{ url_for('mark_finished', ticket_id=ticket[0]) }}">
                        <button type="submit">Marquer comme fini</button>
                    </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
