axios
blinker
certifi
cffi
charset-normalizer
click
cryptography
Flask
flask-cors
gitdb
GitPython
idna
itsdangerous
Jinja2
lxml
markdown-it-py
MarkupSafe
mdurl
msal
psycopg2-binary
pycparser
Pygments
PyJWT
python-dotenv
requests
rich
smmap
urllib3
Werkzeug
datetime